<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SendaVS</title>
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
    <header>
      <h1 class="senda-vs">SendaVS</h1>
      <div class="nav">
        <div id="profile-user"> 
            <button id="go-to-senda">
                <span>
                    <img src="" alt="">
                </span>
                <span>
                    <span>Cesar Vazquez</span>
                </span>
            </button>
        </div>

        <button>
            <a th:href="@{/library}">Ir a Senda</a>
        </button>

      </div>
    </header>
    <main>
        <div>
            <h1>Construye, coloca y recuerda tus libros en tu estantero virtual</h1>
        </div>
    </main>

    <script th:src="@{/js/home.js}"></script>
</body>
</html>